ACA-Py / AFJ runset test failing on CredentialProposal message processing by ACA-Py (Acme)

[Failing Test Details](https://allure.vonx.io/api/allure-docker-service/projects/acapy-b-javascript/reports/498/index.html#testresult/ad429a23b9e9e77a) (link will last only 10 days). Per the test results, this test was passing up until June 20th.

Command to run: `./manage run -d acapy-main -b javascript -t AIP20 -t RFC0160 -t RFC0592 -t Schema_DriversLicense_v2 -t CredFormat_Indy -t RFC0453 -t T001-RFC0453 -t AcceptanceTest`

The problem is that Bob (AFJ) sends a CredentialProposal message, and ACA-Py seems to blow up trying to process it, with the error:

```
AssertionError: resp_status 500 is not 200; {"name":"ClassValidationError","message":"V1CredentialPreview: Failed to validate class.\nAn instance of V1CredentialPreview has failed the validation:\n - property type has failed the following constraints: isValidMessageType \n","status":500,"errors":[],"stack":"ClassValidationError: V1CredentialPreview: Failed to validate class.\nAn instance of V1CredentialPreview has failed the validation:\n - property type has failed the following constraints: isValidMessageType \n\n    at Function.validateSync (/src/node_modules/@aries-framework/core/src/utils/MessageValidator.ts:19:13)\n    at Function.fromJSON (/src/node_modules/@aries-framework/core/src/utils/JsonTransformer.ts:35:22)\n    at IssueCredentialV2Controller.<anonymous> (/src/src/controllers/IssueCredentialV2Controller.ts:71:37)\n    at Generator.next (<anonymous>)\n    at /src/node_modules/tslib/tslib.js:118:75\n    at new Promise (<anonymous>)\n    at Object.__awaiter (/src/node_modules/tslib/tslib.js:114:16)\n    at IssueCredentialV2Controller.$ctx [as sendProposal] (/src/src/controllers/IssueCredentialV2Controller.ts:44:24)\n    at /src/node_modules/@tsed/platform-params/src/builder/PlatformParams.ts:88:39\n    at processTicksAndRejections (internal/process/task_queues.js:97:5)"}
```

In reviewing the logs from a local run, it looks to me like the error is occurring on [this line](https://github.com/hyperledger/aries-cloudagent-python/blob/47dbb28c39bfd3f02da178c24aa8de4edee92f31/aries_cloudagent/protocols/issue_credential/v2_0/formats/indy/handler.py#L220) in ACA-Py create offer -- after getting the SchemaID from the proposal, getting the Schema from the ledger and then trying to get the list of attributes from the schema.  

`File "/usr/local/lib/python3.7/site-packages/aries_cloudagent/protocols/issue_credential/v2_0/formats/indy/handler.py", line 222, in create_offer   attr for attr in cred_proposal_message.credential_preview.attr_dict()`

Not sure that makes a lot of sense.  I used the logs to find the `Proposal` message received and it's attachment and found both looked correctly formatted, and then checked the ledger to confirm that all of the IDs in the message referenced objects found on the ledger.



