All AFJ Tests failed on GHActions; fine when running locally

Here are is the output from the GHActions of the acapy-afj runset.  @nodlesh @WadeBarnes @TimoGlastra -- any ideas what is happening?  Looks like after seeming to start fine, the Bob (AFJ) refused connections.  No tests passed involving Aries Framework JavaScript across all runsets.

```
waiting for Faber agent to start
waiting for Mallory agent to start



Tags:  --tags=@AcceptanceTest --tags=@AIP10,@RFC0441,@RFC0211,@T001-RFC0453 --tags=~@wip --tags=~@DIDExchangeConnection --tags=~@T004-RFC0211

Executing tests with Allure Reports.
features/0025-didcomm-transports.feature  FFFFFFHOOK-ERROR in after_feature: AssertionError: FAILED SUB-STEP: Given "Bob" is running with parameters "{}"
Substep info: Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 980, in _wrap_create_connection
    return await self._loop.create_connection(*args, **kwargs)  # type: ignore[return-value]  # noqa
  File "/usr/local/lib/python3.7/asyncio/base_events.py", line 962, in create_connection
    raise exceptions[0]
  File "/usr/local/lib/python3.7/asyncio/base_events.py", line 949, in create_connection
    await self.sock_connect(sock, address)
  File "/usr/local/lib/python3.7/asyncio/selector_events.py", line 473, in sock_connect
    return await fut
  File "/usr/local/lib/python3.7/asyncio/selector_events.py", line 503, in _sock_connect_cb
    raise OSError(err, f'Connect call failed {address}')
ConnectionRefusedError: [Errno 111] Connect call failed ('0.0.0.0', 9030)

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/behave/model.py", line 1329, in run
    match.run(runner.context)
  File "/usr/local/lib/python3.7/site-packages/behave/matchers.py", line 98, in run
    self.func(context, *args, **kwargs)
  File "features/steps/0044-mime-types.py", line 21, in step_impl
    agent_url + "/agent/command/", "agent", operation="start", data=data
  File "/aries-test-harness/agent_backchannel_client.py", line 103, in agent_backchannel_POST
    make_agent_backchannel_request, "POST", agent_url, data=payload
  File "/aries-test-harness/agent_backchannel_client.py", line 41, in run_coroutine_with_kwargs
    return loop.run_until_complete(coroutine(*args, **kwargs))
  File "/usr/local/lib/python3.7/asyncio/base_events.py", line 587, in run_until_complete
    return future.result()
  File "/aries-test-harness/agent_backchannel_client.py", line 51, in make_agent_backchannel_request
    async with client_session.request(method, path, json=data, params=params) as resp:
  File "/usr/local/lib/python3.7/site-packages/aiohttp/client.py", line 1141, in __aenter__
    self._resp = await self._coro
  File "/usr/local/lib/python3.7/site-packages/aiohttp/client.py", line 537, in _request
    req, traces=traces, timeout=real_timeout
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 540, in connect
    proto = await self._create_connection(req, traces, timeout)
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 901, in _create_connection
    _, proto = await self._create_direct_connection(req, traces, timeout)
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 1206, in _create_direct_connection
    raise last_exc
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 1187, in _create_direct_connection
    client_error=client_error,
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 988, in _wrap_create_connection
    raise client_error(req.connection_key, exc) from exc
aiohttp.client_exceptions.ClientConnectorError: Cannot connect to host 0.0.0.0:9030 ssl:default [Connect call failed ('0.0.0.0', 9030)]

Traceback (of failed substep):
  File "/usr/local/lib/python3.7/site-packages/behave/model.py", line 1329, in run
    match.run(runner.context)
  File "/usr/local/lib/python3.7/site-packages/behave/matchers.py", line 98, in run
    self.func(context, *args, **kwargs)
  File "features/steps/0044-mime-types.py", line 21, in step_impl
    agent_url + "/agent/command/", "agent", operation="start", data=data
  File "/aries-test-harness/agent_backchannel_client.py", line 103, in agent_backchannel_POST
    make_agent_backchannel_request, "POST", agent_url, data=payload
  File "/aries-test-harness/agent_backchannel_client.py", line 41, in run_coroutine_with_kwargs
    return loop.run_until_complete(coroutine(*args, **kwargs))
  File "/usr/local/lib/python3.7/asyncio/base_events.py", line 587, in run_until_complete
    return future.result()
  File "/aries-test-harness/agent_backchannel_client.py", line 51, in make_agent_backchannel_request
    async with client_session.request(method, path, json=data, params=params) as resp:
  File "/usr/local/lib/python3.7/site-packages/aiohttp/client.py", line 1141, in __aenter__
    self._resp = await self._coro
  File "/usr/local/lib/python3.7/site-packages/aiohttp/client.py", line 537, in _request
    req, traces=traces, timeout=real_timeout
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 540, in connect
    proto = await self._create_connection(req, traces, timeout)
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 901, in _create_connection
    _, proto = await self._create_direct_connection(req, traces, timeout)
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 1206, in _create_direct_connection
    raise last_exc
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 1187, in _create_direct_connection
    client_error=client_error,
  File "/usr/local/lib/python3.7/site-packages/aiohttp/connector.py", line 988, in _wrap_create_connection
    raise client_error(req.connection_key, exc) from exc
F
features/0036-issue-credential.feature  FFFF
features/0037-present-proof.feature  FFFFFFFFFFFFF
features/0160-connection.feature  FF
features/0183-revocation.feature  FFFFFFFFFFFFFFFF
features/0211-coordinate-mediation.feature  FFF
features/0453-issue-credential-v2.feature  F

```

Probably something to do with breaking changes we've in AFJ. Do you have the logs of the AFJ agent?

It runs fine locally, so none there. @nodlesh -- are they captured from the GHA run?

This issue is stale. It is no longer an issue. 