Suggestions for reorganizing the tags.

I generated a list of the tags in use for all of the scenarios and found that we had about a 100.  I think we can reduce that significantly by dropping a number of them and replacing them with the following subsets.  See the notes associated with each group.

The effort for this issue should include the following:

- reset all the tags on the scenarios
- adjust the runset tags accordingly
- document the range of tags and how they are used.

## Tags for scenario ID (sequential, no meaning):

A tag for each scenario, whose only purpose is to be able to run just a test or two from the command line.

@t001

# Tags for Scenario Metadata:

A tag to convey something about the scenario. `@wip` is probably the most important, but a couple of others may be valuable.

@NeedsReview
@wip
@NegativeTest

## Scenario Coverage Tags:

A tag for each RFC and AIP specifically tested in a scenario -- excluding "underlying" RFCs that are covered in essentially every test.  For example, RFC0011 (decorators) is used (I think) in a lot of scenarios and so _might_ be a candidate to remove (or not...).

@RFC0011
@RFC0023
@RFC0036
@RFC0037
@RFC0160
@RFC0183
@AIP10
@AIP20

## Tags for Temporary Issues:

A tag tied to a specific issue that should be addressed at some point. It needs to reference the repo in which the issue resides.

@issue:https://github.com/hyperledger/aries-cloudagent-python/issues/418

## Tags on test variants:

A tag for scenarios that implement a variant of a test for (usually) a given RFC.

@Indy
@revocation
@delete_cred_from_wallet
@MultiUseInvite
@ProofProposal
@SingleTryOnException
@SingleUseInvite
