Deprecation notice at agent start

At the agent start, I get:

```
NGROK_AUTHTOKEN=$NGROK_AUTHTOKEN LEDGER_URL_CONFIG=http://test.bcovrin.vonx.io TAILS_SERVER_URL_CONFIG=https://tails.vonx.io ./manage run -d acapy-main -b mobile -n -t @MobileTest
```

shows a deprecation notice in the logs:

```
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::                             ⚠ DEPRECATION NOTICE: ⚠                              ::
:: -------------------------------------------------------------------------------- ::
:: Receiving a core DIDComm protocol with the `did:sov:BzCbsNYhMrjHiqZDTUASHg;spec` ::
:: prefix is deprecated. All parties sending this prefix should be notified that    ::
:: support for receiving such messages will be removed in a future release. Use     ::
:: https://didcomm.org/ instead.                                                    ::
:: -------------------------------------------------------------------------------- ::
:: Aries RFC 0160: Connection Protocol is deprecated and support will be removed in ::
:: a future release; use RFC 0023: DID Exchange instead.                            ::
:: -------------------------------------------------------------------------------- ::
:: Aries RFC 0036: Issue Credential 1.0 is deprecated and support will be removed   ::
:: in a future release; use RFC 0453: Issue Credential 2.0 instead.                 ::
:: -------------------------------------------------------------------------------- ::
:: Aries RFC 0037: Present Proof 1.0 is deprecated and support will be removed in a ::
:: future release; use RFC 0454: Present Proof 2.0 instead.                         ::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
```

## version

```
$ git rev-parse HEAD
c37c2cf95f5271098ccc6ebbaf92de618bba7053
```

This is the deprecation notice that comes from ACA-Py itself when it is started. This has nothing to do with the test harness really. Though, we are going to have to remove from AATH the usage of did:sov and those AIP 1.0 protocols in the future. 

ok, following up in : https://github.com/hyperledger/aries-cloudagent-python/issues/3202