AFGO Tests not running -- ConfigError: No steps directory in '/aries-test-harness/t'

In the nightly runs, none of the AFGO to AFGO tests are running.  I'm not sure what the problem is -- here is the test output when the tests are run locally or via the GHAs:

```
Tags:  --tags=@RFC0023,@RFC0044,@T001.1-RFC0036,@RFC0453,@RFC0454,@RFC0211,@RFC0025,@DIDComm-V2 --tags=~@wip --tags=~@RFC0160 --tags=~@CredFormat_Indy --tags=~@RFC0434
Executing tests with Allure Reports.
ConfigError: No steps directory in '/aries-test-harness/t'
```

Debugging so far:

* I was thinking perhaps the error was because there were no tests to run from the combination of tags being used, but that is not the problem. That situation (.e.g. `./manage run -d afgo-master -t foo`) runs the test harness properly and correctly reports no tests run.
* I also tried running with no `-t` parameters at all, and that seems to work -- all of the tests are run.

@Moopli , @nodlesh -- any ideas?  I'll keep digging.

It is strange that there has been no change in that workflow in 2 months, and this problem started on the 14th of June. There was some playing with the tagging structure in the @RFC0453 feature file yesterday, but nothing that looks like it would cause this, and it would manifest locally if so.  The `/t` at the end makes me think the command line isn't getting parsed correctly and is adding a `t` meant for a tag parameter in the behave start directory. 

I've been trying locally. I clean up old stale containers and I now get a problem starting orb, 
```
./manage service start orb
.
.
Error: failed to read jwk file '' : read .: is a directory
```
Anyone know what causes this? 


Strange.  Just to confirm -- I get the problem locally and with GHA.

Re: orb starting -- it works fine for me.  I'm running on Linux, but Orb is starting just as it always has.

Oh I misread, sorry. Can you try to revert the tagging change that Timo did yesterday and see if the issue is still there? His change in this feature file, https://github.com/hyperledger/aries-agent-test-harness/pull/512/files#diff-2191e4fe832da778cff98e222c5c6a93b564f5298fab3301a7ab16c9bb4a2315


Not entirely clear what you are asking, but I changed line 4 of the file `aries-test-harness/features/0453-issue-credential-v2.feature` to:

>  @T001-RFC0453 @RFC0592 @critical @AcceptanceTest @DIDExchangeConnection @CredFormat_Indy @Schema_DriversLicense_v2

It didn't make a difference.  I did a `build` and then a run and got the same error.

Was that what you wanted me to do?

Removing both changes made no difference.  I'm trying some other things -- but let me know if you can think of anything...

Solved it.  The last argument is just `t DIDMethod_sov` -- missing the `-` in front of the "t".  PR coming...